Repository belk1ng/shoppe: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

feat: 🎸 add footer & change some styles
  src/app/home.scss
  src/app/layout.tsx
  src/app/not-found.scss
  src/app/not-found.tsx
  src/app/page.tsx
  src/components/footer/Footer.tsx
  src/components/footer/footer.scss
  src/components/footer/index.ts
  src/components/header/Header.tsx
  src/components/header/header.scss
  src/components/header/navigation/index.ts
  src/components/navigation/Navigation.tsx
  src/components/navigation/index.ts
  src/components/navigation/navigation.scss
  src/components/navigation/types.ts
  src/components/navigation/useNavigation.ts
  src/scss/main.scss
Due: eslint --fix, stylelint --fix

fix: 🐛 scss warnings
  .husky/pre-push
  src/app/not-found.scss
  src/components/footer/footer.scss
  src/components/header/header.scss
  src/components/navigation/navigation.scss
  src/components/product-card/product-card.scss
  src/scss/_mixins.scss
Due: stylelint --fix

chore: 🤖 add github actions ci
  .github/workflows/ci.yaml
Due: none

fix: 🐛 typo in ci
  .github/workflows/ci.yaml
Due: none

chore: 🤖 add dev branch to pr checks, remove push event
  .github/workflows/ci.yaml
Due: none

feat: 🎸 add elements to catalog page
  src/app/catalog/catalog.scss
  src/app/catalog/components/filter-form/FilterForm.tsx
  src/app/catalog/components/filter-form/index.ts
  src/app/catalog/page.tsx
  src/app/layout.tsx
  src/components/input/Input.tsx
  src/components/input/index.ts
  src/components/input/input.scss
Due: eslint --fix, stylelint --fix

style: 💄 fix component definition
  eslint.config.mjs
  src/app/catalog/components/filter-form/FilterForm.tsx
  src/assets/icons/Cart.tsx
  src/assets/icons/Favorite.tsx
  src/assets/icons/Profile.tsx
  src/assets/icons/Search.tsx
  src/components/footer/Footer.tsx
  src/components/input/Input.tsx
  src/components/progress-bar/ProgressBar.tsx
  src/lib/createSafeContext.tsx
Due: eslint --fix

chore: 🤖 add cd configuration
  .github/workflows/cd.yaml
  src/app/catalog/catalog.scss
Due: stylelint --fix

feat: 🎸 add some styles to catalog
  src/app/catalog/catalog.scss
Due: stylelint --fix

feat: 🎸 extend catalog filtering system
  src/app/catalog/components/filter-form/FilterForm.tsx
  src/app/catalog/components/filter-form/filter-form.scss
  src/app/catalog/components/filter-provider/FilterProvider.tsx
  src/app/catalog/components/filter-provider/index.ts
  src/app/catalog/components/products-list/ProductsList.tsx
  src/app/catalog/components/products-list/index.ts
  src/app/catalog/page.tsx
Due: eslint --fix, stylelint --fix

feat: 🎸 add catalog pagination
  src/app/catalog/catalog.scss
  src/app/catalog/components/filter-form/FilterForm.tsx
  src/app/catalog/components/filter-form/filter-form.scss
  src/app/catalog/components/filter-provider/FilterProvider.tsx
  src/app/catalog/components/products-list/ProductsList.tsx
  src/app/catalog/components/products-list/index.ts
  src/app/catalog/components/products-pagination/ProductsPagination.tsx
  src/app/catalog/components/products-pagination/index.ts
  src/app/catalog/page.tsx
  src/components/footer/footer.scss
  src/components/header/header.scss
  src/components/input/input.scss
  src/components/pagination/Pagination.tsx
  src/components/pagination/index.ts
  src/components/pagination/pagination.scss
  src/scss/_variables.scss
  src/scss/main.scss
Due: eslint --fix, stylelint --fix

refactor: 💡 some improvements to the catalog
  package.json
  src/app/catalog/[sku]/page.tsx
  src/app/catalog/components/filter-form/FilterForm.tsx
  src/app/catalog/components/filter-provider/FilterProvider.tsx
  src/app/catalog/components/filter-provider/index.ts
  src/app/catalog/components/products-pagination/ProductsPagination.tsx
  src/components/footer/footer.scss
  src/components/input/input.scss
  src/lib/api/services/products.ts
  src/lib/hooks/useFilter.ts
  src/scss/_mixins.scss
  src/scss/main.scss
Due: eslint --fix, stylelint --fix

style: 💄 fix scss warnings
  .github/workflows/cd.yaml
  src/scss/_mixins.scss
Due: stylelint --fix

fix: 🐛 filter typo
  src/app/catalog/components/filter-form/FilterForm.tsx
  src/app/catalog/components/products-pagination/ProductsPagination.tsx
  src/lib/hooks/useFilter.ts
Due: eslint --fix

feat: 🎸 add error & empty state handling with in catalog page
  src/app/catalog/[sku]/page.tsx
  src/app/catalog/catalog.scss
  src/app/catalog/components/empty-catalog/EmptyCatalog.tsx
  src/app/catalog/components/empty-catalog/empty-catalog.scss
  src/app/catalog/components/empty-catalog/index.ts
  src/app/catalog/error.tsx
  src/app/catalog/page.tsx
Due: eslint --fix, stylelint --fix

feat: 🎸 add `Button` component
  src/components/button/Button.tsx
  src/components/button/button.scss
  src/components/button/index.ts
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,json}
  stylelint --fix: any of: *.{css,scss}
