Repository belk1ng/shoppe: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json}": "eslint --fix",
  "*.{css,scss}": "stylelint --fix"
}

feat: 🎸 add products carousel
  src/entities/product/index.ts
  src/entities/product/ui/product-card/ProductCard.tsx
  src/entities/product/ui/product-slide/ProductSlide.tsx
  src/entities/product/ui/product-slide/index.ts
  src/entities/product/ui/product-slide/product-slide.scss
  src/shared/assets/images/slide-1.webp
  src/shared/assets/images/slide-2.webp
  src/shared/ui/carousel/Carousel.tsx
  src/shared/ui/carousel/carousel.scss
  src/shared/ui/carousel/useCarousel.ts
  src/views/home/ui/Home.tsx
  src/views/home/ui/home.scss
  steiger.config.ts
Due: eslint --fix, stylelint --fix

feat: 🎸 add sync between products fitler and progress bar
  src/features/filter-products/model/FilterProvider.tsx
  src/shared/model/hooks/useFilter.ts
Due: eslint --fix

feat: 🎸 add carousel swipe animation
  src/shared/ui/carousel/Carousel.tsx
  src/shared/ui/carousel/carousel.scss
Due: eslint --fix, stylelint --fix

fix: 🐛 some minor bugs
  public/logo.svg
  src/features/navigation/lib/useNavigation.ts
  src/features/navigation/ui/Navigation.tsx
  src/shared/styles/_variables.scss
  src/shared/ui/carousel/Carousel.tsx
Due: eslint --fix, stylelint --fix

feat: 🎸 add `Rating` component
  src/entities/product/api/products.ts
  src/entities/product/api/types.ts
  src/entities/product/index.ts
  src/entities/product/model/types.ts
  src/entities/review/@x/product.ts
  src/entities/review/index.ts
  src/entities/review/model/types.ts
  src/entities/review/ui/rating/Rating.tsx
  src/entities/review/ui/rating/index.ts
  src/entities/review/ui/rating/rating.scss
  src/entities/review/ui/rating/useRating.ts
  src/shared/assets/icons/Star.tsx
  src/shared/assets/icons/index.ts
  src/shared/lib/get-russian-plural-form/getRussianPluralForm.ts
  src/shared/lib/get-russian-plural-form/index.ts
  src/shared/lib/index.ts
Due: eslint --fix, stylelint --fix

feat: 🎸 add `ProductImages` component
  src/entities/product/index.ts
  src/entities/product/ui/product-images/ProductImages.tsx
  src/entities/product/ui/product-images/index.ts
  src/entities/product/ui/product-images/product-images.scss
  src/shared/assets/icons/ChevronRight.tsx
  src/shared/assets/icons/index.ts
  src/views/home/ui/Home.tsx
Due: eslint --fix, stylelint --fix

feat: 🎸 add `ProductInfo` widget
  src/entities/product/index.ts
  src/entities/product/lib/getProductPrice.ts
  src/entities/product/ui/product-card/ProductCard.tsx
  src/entities/product/ui/product-images/product-images.scss
  src/entities/product/ui/product-slide/ProductSlide.tsx
  src/entities/review/ui/rating/Rating.tsx
  src/shared/lib/get-russian-plural-form/getRussianPluralForm.ts
  src/views/product/ui/Product.tsx
  src/widgets/product-info/index.ts
  src/widgets/product-info/ui/ProductInfo.tsx
  src/widgets/product-info/ui/product-info.scss
Due: eslint --fix, stylelint --fix

refactor: 💡 move `PatchedLink` to progress-bar folder
  src/shared/hooks/index.ts
  src/shared/hooks/useFilter.ts
  src/shared/lib/index.ts
  src/shared/lib/progress-bar-provider/index.ts
  src/shared/model/index.ts
  src/shared/ui/index.ts
  src/shared/ui/patched-link/index.ts
  src/shared/ui/progress-bar/PatchedLink.tsx
  src/shared/ui/progress-bar/ProgressBar.tsx
  src/shared/ui/progress-bar/ProgressBarProvider.tsx
  src/shared/ui/progress-bar/index.ts
  src/shared/ui/progress-bar/useProgress.ts
Due: eslint --fix

chore: 🤖 add test runner to pre-commit stage
  .husky/pre-push
  .lintstagedrc.json
  package.json
  src/shared/config/vitest/setupTests.ts
  src/shared/config/vitest/vitest.config.ts
  src/shared/lib/get-russian-plural-form/getRussianPluralForm.test.ts
  src/shared/lib/get-russian-plural-form/getRussianPluralForm.ts
  src/shared/ui/button/Button.test.tsx
  src/shared/ui/input/Input.test.tsx
  src/shared/ui/input/Input.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix

refactor: 💡 move `PatchedLink` to progress-bar folder
  src/features/filter-products/model/FilterProvider.tsx
  src/shared/ui/progress-bar/index.ts
Due: eslint --fix

feat: 🎸 add `Counter` component
  src/shared/ui/button/Button.test.tsx
  src/shared/ui/counter/Counter.test.tsx
  src/shared/ui/counter/Counter.tsx
  src/shared/ui/counter/counter.scss
  src/shared/ui/counter/index.ts
  src/shared/ui/counter/useCounter.test.ts
  src/shared/ui/counter/useCounter.ts
  src/shared/ui/index.ts
  src/widgets/product-info/ui/ProductInfo.tsx
Due: eslint --fix, stylelint --fix

feat: 🎸 add function to calculate average product rating
  .lintstagedrc.json
  src/entities/product/index.ts
  src/entities/product/lib/getProductAverageRating.ts
  src/shared/ui/counter/counter.scss
  src/widgets/product-info/ui/ProductInfo.tsx
Due: eslint --fix, stylelint --fix

feat: 🎸 add basic cart functionality
  src/app/layout.tsx
  src/entities/cart/index.ts
  src/entities/cart/lib/constants.ts
  src/entities/cart/model/CartContextProvider.tsx
  src/entities/cart/model/types.ts
  src/entities/cart/model/useCart.ts
  src/entities/cart/ui/cart-icon/CartIcon.tsx
  src/entities/cart/ui/cart-icon/cart-icon.scss
  src/entities/cart/ui/cart-icon/index.ts
  src/entities/cart/ui/cart-provider/CartProvider.tsx
  src/entities/cart/ui/cart-provider/index.ts
  src/widgets/header/ui/Header.tsx
Due: eslint --fix, stylelint --fix

feat: 🎸 add `AddToCart` feature
  src/app/layout.tsx
  src/entities/cart/index.ts
  src/entities/cart/lib/constants.ts
  src/entities/cart/model/CartContextProvider.tsx
  src/entities/cart/model/actions.ts
  src/entities/cart/model/useCart.ts
  src/entities/cart/ui/cart-provider/CartProvider.tsx
  src/features/add-to-cart/index.ts
  src/features/add-to-cart/ui/AddToCart.tsx
  src/features/add-to-cart/ui/add-to-cart.scss
  src/shared/hooks/index.ts
  src/shared/hooks/useDebounceCallback.ts
  src/shared/ui/button/button.scss
  src/shared/ui/counter/useCounter.ts
  src/widgets/product-info/ui/ProductInfo.tsx
  steiger.config.ts
Due: eslint --fix, stylelint --fix

refactor: 💡 `AddToCart` feature
  src/features/add-to-cart/lib/productToCartItem.ts
  src/features/add-to-cart/model/useAddToCart.ts
  src/features/add-to-cart/ui/AddToCart.tsx
Due: eslint --fix

feat: 🎸 add simple `Tabs` component
  src/shared/hooks/index.ts
  src/shared/hooks/useActiveIndex.ts
  src/shared/ui/carousel/Carousel.tsx
  src/shared/ui/index.ts
  src/shared/ui/tabs/Tabs.tsx
  src/shared/ui/tabs/index.ts
  src/shared/ui/tabs/tabs.scss
  src/views/product/ui/Product.tsx
  src/views/product/ui/product.scss
Due: eslint --fix, stylelint --fix

refactor: 💡 add route handler & fix progress bar z-index
  public/images/slide-1.webp
  public/images/slide-2.webp
  src/app/api/carousel-items/mock.ts
  src/app/api/carousel-items/route.ts
  src/shared/ui/progress-bar/progress-bar.scss
  src/views/home/model/getCarouselData.ts
  src/views/home/model/types.ts
  src/views/home/ui/Home.tsx
Due: eslint --fix, stylelint --fix

feat: 🎸 add `ReviewCard` component
  src/entities/product/ui/product-card/ProductCard.tsx
  src/entities/review/index.ts
  src/entities/review/ui/review-card/ReviewCard.tsx
  src/entities/review/ui/review-card/index.ts
  src/entities/review/ui/review-card/review-card.scss
  src/shared/typings/global.d.ts
  src/views/product/ui/Product.tsx
  src/views/product/ui/product.scss
Due: eslint --fix, stylelint --fix

style: 💄 fix import sort rules
  eslint.config.mjs
  src/app/layout.tsx
  src/features/add-to-cart/ui/AddToCart.tsx
  src/shared/ui/progress-bar/ProgressBar.tsx
  src/views/catalog/ui/Catalog.tsx
  src/views/product/ui/Product.tsx
  src/widgets/header/ui/Header.tsx
  src/widgets/product-info/ui/ProductInfo.tsx
Due: eslint --fix

feat: 🎸 add json-ld generation for product entity
  package.json
  src/entities/product/index.ts
  src/entities/product/lib/generateProductJsonLd.ts
  src/entities/product/lib/generateProductsListJsonLd.ts
  src/entities/product/lib/getProductAverageRating.ts
  src/shared/ui/json-ld/JsonLd.tsx
  src/shared/ui/json-ld/index.ts
  src/views/catalog/ui/Catalog.tsx
  src/views/home/ui/Home.tsx
  src/views/product/ui/Product.tsx
  yarn.lock
Due: eslint --fix

feat: 🎸 add `AddProductReview` feature
  package.json
  src/entities/product/ui/product-images/ProductImages.tsx
  src/entities/review/ui/rating/Rating.tsx
  src/entities/review/ui/rating/rating.scss
  src/entities/review/ui/rating/useRating.ts
  src/entities/review/ui/review-card/ReviewCard.tsx
  src/features/add-product-review/index.ts
  src/features/add-product-review/lib/getProductReviewDefaults.ts
  src/features/add-product-review/model/createReview.ts
  src/features/add-product-review/model/schema.ts
  src/features/add-product-review/model/types.ts
  src/features/add-product-review/ui/AddProductReview.tsx
  src/features/add-product-review/ui/add-product-review.scss
  src/shared/ui/counter/Counter.tsx
  src/shared/ui/counter/counter.scss
  src/shared/ui/input/Input.tsx
  src/shared/ui/input/input.scss
  src/views/product/ui/Product.tsx
  src/views/product/ui/product.scss
  src/widgets/product-info/ui/ProductInfo.tsx
  yarn.lock
Due: eslint --fix, stylelint --fix

feat: 🎸 add utils for generate breadcrumbs schema
  src/app/middleware.ts
  src/features/navigation/index.ts
  src/features/navigation/lib/generateBreadcrumbsSchema.ts
  src/features/navigation/lib/getBreadcrumbsOptionsFromHeaders.ts
  src/middleware.ts
  src/shared/config/navigation/breadcrumbs.ts
  src/shared/config/navigation/index.ts
  src/shared/ui/json-ld/JsonLd.tsx
  src/views/catalog/ui/Catalog.tsx
  src/views/home/ui/Home.tsx
  src/views/product/ui/Product.tsx
Due: eslint --fix

feat: 🎸 add `CartItem` and simple cart layout
  src/entities/cart/index.ts
  src/entities/cart/model/types.ts
  src/entities/cart/model/useCart.ts
  src/entities/cart/ui/cart-item/CartItem.tsx
  src/entities/cart/ui/cart-item/cart-item.scss
  src/entities/cart/ui/cart-item/index.ts
  src/features/add-to-cart/model/useAddToCart.ts
  src/features/add-to-cart/ui/AddToCart.tsx
  src/shared/assets/icons/Cross.tsx
  src/shared/assets/icons/index.ts
  src/shared/ui/input/Input.test.tsx
  src/views/cart/ui/Cart.tsx
  src/views/cart/ui/cart.scss
Due: eslint --fix, stylelint --fix

feat: 🎸 add snackbar component
  src/app/layout.tsx
  src/entities/cart/ui/cart-item/CartItem.tsx
  src/features/add-product-review/ui/AddProductReview.tsx
  src/features/add-to-cart/ui/AddToCart.tsx
  src/shared/assets/icons/Check.tsx
  src/shared/assets/icons/index.ts
  src/shared/ui/snackbar/Snackbar.tsx
  src/shared/ui/snackbar/SnackbarProvider.tsx
  src/shared/ui/snackbar/index.ts
  src/shared/ui/snackbar/snackbar.scss
  src/shared/ui/snackbar/useSnackbar.ts
Due: eslint --fix, stylelint --fix

feat: 🎸 add authorization check
  src/app/(auth)/login/page.tsx
  src/app/(protected)/favorite/page.tsx
  src/app/(protected)/profile/page.tsx
  src/app/middleware.ts
  src/app/withCurrentPathname.ts
  src/entities/product/api/productsService.ts
  src/entities/product/index.ts
  src/entities/user/api/types.ts
  src/entities/user/api/userService.ts
  src/entities/user/index.ts
  src/entities/user/model/withAuth.ts
  src/middleware.ts
  src/shared/api/auth/authService.ts
  src/shared/api/auth/index.ts
  src/shared/api/auth/types.ts
  src/shared/api/http.ts
  src/shared/api/index.ts
  src/shared/model/index.ts
  src/shared/model/jwt-service/index.ts
  src/shared/model/jwt-service/jwt-service.ts
  src/shared/model/middleware-pipeline/index.ts
  src/shared/model/middleware-pipeline/middlewarePipeline.ts
  src/views/login/config/meta.ts
  src/views/login/index.ts
  src/views/login/ui/Login.tsx
Due: eslint --fix

refactor: 💡 add public api, fix typos
  package.json
  src/features/add-product-review/ui/AddProductReview.tsx
  src/features/navigation/lib/useNavigation.ts
  src/shared/ui/index.ts
  src/shared/ui/tabs/Tabs.tsx
  src/views/catalog/ui/Catalog.tsx
  src/views/home/ui/Home.tsx
  src/views/product/ui/Product.tsx
Due: eslint --fix

feat: 🎸 extend http client with custom error
  Dockerfile
  docker-compose.yml
  src/app/api/carousel-items/route.ts
  src/app/api/token/route.ts
  src/entities/user/model/withAuth.ts
  src/shared/api/http-error.ts
  src/shared/api/http.ts
  src/shared/api/index.ts
  src/shared/model/jwt-service/jwt-service.ts
  src/shared/typings/env.d.ts
  src/views/home/model/getCarouselData.ts
  src/views/product/ui/Product.tsx
  yarn.lock
Due: eslint --fix

feat: 🎸 add login feature
  src/features/login/index.ts
  src/features/login/model/login.ts
  src/features/login/model/schema.ts
  src/features/login/model/types.ts
  src/features/login/ui/Login.tsx
  src/features/login/ui/login.scss
  src/views/login/ui/Login.tsx
Due: eslint --fix, stylelint --fix

feat: 🎸 extend `Input` component
  src/features/login/ui/Login.tsx
  src/shared/assets/icons/ClosedEye.tsx
  src/shared/assets/icons/OpenedEye.tsx
  src/shared/assets/icons/index.ts
  src/shared/model/jwt-service/jwt-service.ts
  src/shared/ui/input/Input.tsx
  src/shared/ui/input/input.scss
  src/views/profile/ui/Profile.tsx
Due: eslint --fix, stylelint --fix

fix: 🐛 set cookies `maxAge` param
  src/entities/cart/model/actions.ts
  src/entities/cart/model/useCart.ts
  src/features/login/model/login.ts
  src/shared/model/jwt-service/jwt-service.ts
Due: eslint --fix

chore: 🤖 add cd configuration
  .github/workflows/cd.yaml
Due: none

feat: 🎸 add catalog pagination
  src/app/catalog/catalog.scss
  src/app/catalog/components/filter-form/FilterForm.tsx
  src/app/catalog/components/filter-form/filter-form.scss
  src/app/catalog/components/filter-provider/FilterProvider.tsx
  src/app/catalog/components/products-list/ProductsList.tsx
  src/app/catalog/components/products-list/index.ts
  src/app/catalog/components/products-pagination/ProductsPagination.tsx
  src/app/catalog/components/products-pagination/index.ts
  src/app/catalog/page.tsx
  src/components/footer/footer.scss
  src/components/header/header.scss
  src/components/input/input.scss
  src/components/pagination/Pagination.tsx
  src/components/pagination/index.ts
  src/components/pagination/pagination.scss
  src/scss/_variables.scss
  src/scss/main.scss
Due: eslint --fix, stylelint --fix

fix: 🐛 filter typo
  src/app/catalog/components/filter-form/FilterForm.tsx
  src/app/catalog/components/products-pagination/ProductsPagination.tsx
  src/lib/hooks/useFilter.ts
Due: eslint --fix

feat: 🎸 add error & empty state handling with in catalog page
  src/app/catalog/[sku]/page.tsx
  src/app/catalog/catalog.scss
  src/app/catalog/components/empty-catalog/EmptyCatalog.tsx
  src/app/catalog/components/empty-catalog/empty-catalog.scss
  src/app/catalog/components/empty-catalog/index.ts
  src/app/catalog/error.tsx
  src/app/catalog/page.tsx
Due: eslint --fix, stylelint --fix
